@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap");

body {
  box-sizing: border-box;
  font-family: poppins, sans-serif;
  background-color: #f1edd9;
}

.general-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-wrap {
  display: flex;
  justify-content: center;
  width: 90%;
}

.recent-display {
  width: 45%;
  border: 5px solid #e4ddf4;
  padding: 10px;
}

.h4-title {
  font-size: 28px;
  color: #000;
}

.dynamic-wrapper {
  padding: 5px;
  font-weight: 900;
  font-size: 18px;
}

form {
  margin-right: 50px;
}

.leaderboard-header {
  margin: auto auto;
  text-align: center;
  width: 60%;
  color: #943d24;
  font-size: 30px;
  text-shadow:
    0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0, 0, 0, 0.1),
    0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3),
    0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

.leaderboard-para {
  font-size: 16px;
  font-weight: 400;
  background-color: #943d24;
  padding: 10px;
  width: 40%;
  text-align: center;
  color: #fffbf0;
}

footer h2 {
  text-align: center;
}

.recent-scores {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recent-scores button,
.submit-button {
  display: block;
  border: 2px solid #943d24;
  border-radius: 19px;
  box-shadow: 3px 3px #943d24;
  height: 30px;
  background-color: inherit;
  color: #000;
  font-weight: 900;
  font-size: 20px;
}

.recent-scores button:hover,
.submit-button:hover {
  color: #000;
}

.add-score-label {
  font-size: 20px;
}

.display-name,
.display-score {
  width: 96%;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 30px;
  border-radius: 20px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

::placeholder {
  font-weight: 300;
  color: gray;
}

.form-wrapper {
  width: 75%;
  padding: 10px;
}

.submit-form {
  width: 100%;
}

.submit-form h4 {
  font-size: 28px;
  color: #000;
}

.item {
  color: #000;
  border: 1px solid rgb(139, 135, 135);
  padding-left: 10px;
  border-radius: 10px;
  font-size: 18px;
  margin-bottom: 3px;
}

.item:last-child {
  margin-bottom: 20px;
}

.item:nth-child(even) {
  background-color: #e4ddf4;
}

.form-Message {
  border: 5px solid #e4ddf4;
  padding: 0 20px;
  width: 30%;
}

.warn,
.hint {
  color: red;
  width: 75%;
  display: none;
}
