@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap");

body {
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}

.general-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(62, 90, 214, 0.925);
  background-image:
    url(/images/bone.png),
    url(/images/bthree.png),
    url(/images/bthree.png),
    url(/images/bone.png);
  background-position: right bottom, left top, right top, left bottom;
  background-repeat: no-repeat;
}

.flex-wrap {
  display: flex;
  justify-content: space-between;
  border: 13px solid #000;
  box-shadow: -30px -30px rgb(151, 15, 15);
  border-radius: 90px;
  margin: auto auto;
  width: 80%;
}

.recent-display {
  margin-left: 50px;
  width: 45%;
  margin-right: 50px;
}

.h4-title {
  font-size: 28px;
  color: #c9c9c9;
}

.dynamic-wrapper {
  padding: 5px;
  font-weight: 900;
  font-size: 18px;
}

form {
  margin-right: 50px;
}

.leaderboard-header {
  display: flex;
  margin: 50px auto;
  text-align: center;
  color: rgb(151, 15, 15);
  font-size: 70px;
  text-shadow:
    0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0, 0, 0, 0.1),
    0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3),
    0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

.recent-scores {
  font-size: 20px;
  display: flex;
  align-items: center;
}

.recent-scores button,
.submit-button {
  display: block;
  margin-left: 20px;
  border: 2px solid rgb(151, 15, 15);
  border-radius: 19px;
  box-shadow: 3px 3px rgb(151, 15, 15);
  height: 30px;
  background-color: inherit;
  color: rgb(151, 15, 15);
  font-weight: 900;
  font-size: 20px;
}

.submit-button {
  display: block;
  margin-left: 20%;
}

.recent-scores button:hover,
.submit-button:hover {
  color: #c9c9c9;
}

.add-score-label {
  font-size: 20px;
}

.display-name,
.display-score {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 30px;
  border-radius: 20px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

::placeholder {
  font-weight: 300;
  color: gray;
}

.form-wrapper {
  width: 50%;
  background-image: url(/images/btwo.png);
  background-repeat: no-repeat;
  background-position: 20px 450px;
}

.submit-form {
  width: 100%;
}

.submit-form h4 {
  font-size: 28px;
  color: #c9c9c9;
}

.item {
  color: #c9c9c9;
  border: 5px solid #c9c9c9;
  padding-left: 10px;
  border-radius: 20px;
  font-size: 24px;
}

.item:last-child {
  margin-bottom: 20px;
}

.item:nth-child(even) {
  background-color: rgb(151, 15, 15);
}
